[MESSAGES CONTROL]
disable=missing-class-docstring,
        missing-module-docstring,  
        missing-function-docstring,  
        too-few-public-methods  

[FORMAT]
max-line-length=120

[MASTER]
ignore=CVS
persistent=yes
load-plugins=
init-hook='import sys; sys.path.append(".")'
ignore-patterns=(.)*_test\.py,test_(.)*\.py

[REPORTS]
output-format=text
reports=no
evaluation=10.0

[DESIGN]
max-locals=20

[TYPECHECK]
generated-members=cv2.* 